<mat-card class="card-wrapper" (click)="openProductDetails($event)">
	<mat-card-content class="card">
		<img class="card__image" [src]="product.imgUrl" [alt]="product.name" />
		<div class="card__info">
			<h3 class="name">{{ product.name }}</h3>
			<p class="description">{{ product.description }}</p>
			<p class="currency">{{ product.price | currency }}</p>
		</div>
		<button *ngIf="isAuth$ | async" mat-raised-button color="primary" (click)="onEditProduct($event)">Update</button>
	</mat-card-content>
</mat-card>
<app-delete-button *ngIf="isAuth$ | async" [productId]="product._id"></app-delete-button>
