<div class="auth-error">
	<div *ngIf="authErrorMessage$ | async">
		{{ authErrorMessage$ | async }}
	</div>
</div>

<h2 class="auth-title">Login</h2>

<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<mat-form-field appearance="fill">
		<mat-label>Email</mat-label>
		<input appTrimControlValue matInput type="email" autocomplete="email" formControlName="email" />
		<mat-error *ngIf="email.errors">
			{{ getValidationMessage(email.errors) }}
		</mat-error>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Password</mat-label>
		<input appTrimControlValue matInput type="password" formControlName="password" />
		<mat-error *ngIf="password.errors">
			{{ getValidationMessage(password.errors) }}
		</mat-error>
	</mat-form-field>
	<button
		[disabled]="loginForm.invalid || isSubmitting$.value"
		class="auth-form__button"
		mat-raised-button
		color="primary">
		Login
	</button>
</form>

<div class="redirect">
	<p>Don't have an account?</p>
	<a [routerLink]="'/' + REGISTER_PAGE_ROUTE">Register</a>
</div>
