.auth-title {
  font-size: 2em;
}

.auth-error {
  height: 30px;
  color: #ff4848;
  font-style: italic;
  margin-bottom: 10px;
}

.auth-form {
  width: 50%;
  display: flex;
  flex-direction: column;

  &__button {
    align-self: center;
    width: 50%;
  }
}

.redirect {
  margin-top: 20px;
  display: flex;
  gap: 10px;

  & a {
    text-decoration: none;
    color: #5661fd;
  }
}
